@import "tailwindcss";

@theme {
  --color-nammi-navy: #002855;
  --color-nammi-orange: #FF6B00;
  --color-nammi-blue-light: #F0F7FF;
  --color-nammi-white: #FFFFFF;

  --font-sans: var(--font-manrope);
  --font-display: var(--font-oswald);
}

:root {
  --background: #FFFFFF;
  --foreground: #002855;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* Lenis Scroll */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
