@import "tailwindcss";

@theme {
  --color-void-navy: #050A14;
  --color-concrete-white: #F2F2F2;
  --color-safety-orange: #FF4D00;

  --font-sans: var(--font-manrope);
  --font-display: var(--font-oswald);
}

:root {
  --background: #050A14;
  --foreground: #F2F2F2;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* Lenis Scroll */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
